<%= form_for @list do |f| %>

  <% if @list.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:
    
      <ul>
        <% @list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </p> 

  <p>
    <%= f.submit %>
  </p>
<% end %>

<p>
  <%= link_to "Back", lists_path %>
</p>