<h1><%= @list.title %></h1><br>

<div class="row border subgoals">
	<div class="subgoals-table">
		<%= form_tag complete_list_goals_path(@list), method: :put do %> 
			<table class="table">

				<thead>
					<th>Subgoal</th>
					<th colspan="2"></th>
				</thead>

				<% @list.goals.where(done: false).each do |goal| %>
					<tr>
						<td><%= goal.content %></td>
            <td><%= check_box_tag 'goal_ids[]', goal.id %></td>	
            <td>
							<%= link_to list_goal_path(@list, goal), method: :delete do %>
								<i class="fa fa-times fa-2" style="color:#FF6666"></i>
							<% end %> 
						</td>         
					</tr>
				<% end %>
			</table>

			<%= if @list.goals.where(done: false).any? then submit_tag "Mark as complete" end %>
	  <% end %>
	</div>
</div>

<br>

<div class="row border subgoals">
		<div class="subgoals-table">
			<table class="table">

				<thead>
					<th>Completed</th>
				</thead>

				<% @list.goals.where(done: :true).each do |goal| %>
					<tr>
						<td><%= goal.content %></td>             
					
						<td>
							<%= link_to list_goal_path(@list, goal), method: :delete do %>
								<i class="fa fa-times fa-2" style="color:#FF6666"></i>
							<% end %> 
						</td> 
					</tr>
				<% end %>

			</table>
		</div>
	</div>

<br>

<div class="row" style:"text-align:center">
	<h4>Add a new subgoal:</h4>

	<%= form_for [@list, @list.goals.build] do |f| %>	
		<p>
			<%= f.text_field :content %>
		</p>
		<p>
			<%= f.submit "Create Subgoal" %>
		</p>
	<% end %>
</div>

<br>

<%= link_to "Back", root_path %>




